export GREENLIGHT_DB_DSN='postgres://greenlight:greenlight@localhost/greenlight'
export SMTP_HOST='sandbox.smtp.mailtrap.io'
export SMTP_USERNAME='3fbaa952a4ef36'
export SMTP_PASSWORD='106b65dcff3965'
export SMTP_SENDER='Greenlight <no-reply@greenlight.mvg.net>'